@import '../../App.scss';

.peanut-filter-item {
    @include size(7rem, 65px);
    padding: 1rem 0;
    border-radius: 50px;
    align-items: center;
    flex-direction: column;
    box-shadow: 3px 10px 25px 0px $color-blackLight;
    background-color: $color-white;
    transition: background-color .2s ease-in;
    cursor: pointer;
    margin: 1.5rem;
    &:first-child {
        background-color: $color-purple;
        margin-left: 0;
    }
    &:nth-child(2) {
        p {
            font-size: .8rem;
        }
    }
    figure {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        background-color: $color-white;
        border: 1px solid $color-lightGrey;
        margin: .3rem auto;
    }
    p {
        text-align: center;
        font-size: 1rem;
    }
    &:hover {
        background-color: $color-purple;
    }
}
